* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header .sub-header {
  background-color: #000000;
}
.header .sub-header .container .content {
  padding: 10px 0;
}
.header .sub-header .container .content .header-left {
  display: flex;
  align-items: center;
}
.header .sub-header .container .content .header-right {
  width: 190px;
  justify-content: space-between;
  align-items: center;
}
.header .sub-header .container .content .header-right .cover a {
  align-items: center;
}
.header .sub-header .container .content .header-right .cover a i {
  height: 24px;
  width: 31px;
  font-size: 24px;
  top: 3px;
}
.header .sub-header .container .content .header-right .cover a p {
  margin: auto;
  font-size: 24px;
  height: 36px;
  width: 35px;
  line-height: 36.31px;
}
.header .sub-header .container .content .header-right a {
  font-size: 16px;
  font-weight: 300;
}
.header .container .menu {
  padding: 16px 0;
  height: 70px;
}
.header .container .menu .link {
  margin-right: 15px;
  width: 66px;
  text-align: center;
}
.header .container .menu .link:hover a {
  font-weight: 400;
  border-bottom: 1px solid #000000;
}
.header .container .menu .link a {
  text-decoration: none;
  padding-bottom: 10px;
  color: #000000;
  font-weight: 300;
  font-size: 20px;
  line-height: 24.2px;
}

.register {
  padding: 30px 120px;
}
.register .container h1 {
  text-align: center;
}
.register .container .form .form-group {
  width: 482px;
  height: 68px;
}
@media screen and (max-width: 1200px) {
  .register .container .form .form-group {
    width: 90%;
  }
}
.register .container .form .form-group .input-group {
  border-bottom: 5px solid #ae18e2;
  outline: none;
  border-radius: 0;
}
.register .container .form .form-group .input-group input {
  border: none;
  font-size: 30px;
}
.register .container .form .form-group .input-group input:focus {
  outline: none;
  box-shadow: none;
}
.register .container .form .form-group .input-group input::placeholder {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.register .container .form .form-group .input-group span {
  padding-top: 28px;
}
.register .container .form .form-group span {
  position: relative;
  z-index: 10;
  color: #FC0303;
}
.register .container .form .form-group #gender {
  width: 482px;
  height: 68px;
  border: none;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  align-items: baseline;
}
.register .container .form .form-group #gender p {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.register .container .form .form-group #gender input[type=radio] {
  position: absolute;
  opacity: 0;
}
.register .container .form .form-group #gender input[type=radio] + .radio-label {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.register .container .form .form-group #gender input[type=radio] + .radio-label:before {
  content: "";
  background: #D9D9D9;
  border-radius: 100%;
  border: 1px solid #999999;
  display: inline-block;
  width: 45px;
  height: 35px;
  position: relative;
  top: 1px;
  margin-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.register .container .form .form-group #gender input[type=radio]:checked + .radio-label:before {
  background-color: #AE18E2;
  box-shadow: inset 0 0 0 7px #D9D9D9;
}
.register .container .form .submit {
  width: 100%;
  text-align: end;
}
@media screen and (max-width: 1200px) {
  .register .container .form .submit {
    text-align: start;
  }
}
.register .container .form .submit button {
  width: 291px;
  height: 50px;
  transform: translateX(-65%);
  background-color: #AE18E2;
  color: #FFFCFC;
  border: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 91px;
}
@media screen and (max-width: 1200px) {
  .register .container .form .submit button {
    transform: translateX(0%);
  }
}

.footer {
  margin-top: 104px;
  background-color: #f8f8f8;
}
.footer .container .info-up {
  padding: 40px 0;
}
.footer .container .info-up .row .contact h2 {
  font-size: 20px;
  font-weight: 600;
}
.footer .container .info-up .row .contact p {
  font-size: 14px;
}
.footer .container .info-up .row .contact a {
  text-decoration: none;
  display: block;
  color: #000000;
  font-size: 14px;
  transition: all 300ms;
}
.footer .container .info-up .row .contact a:hover {
  color: #CBC9C9;
}
.footer .container .info-up .row .contact #learn {
  color: #D46662;
}
.footer .info-down {
  background-color: #dedddc;
  padding: 40px 0;
}
.footer .info-down .container .row .branch h2 {
  font-size: 20px;
  font-weight: 600;
}
.footer .info-down .container .row .branch p {
  font-size: 14px;
}
.footer .info-down .container .row .branch a {
  text-decoration: none;
  color: #D46662;
  font-size: 14px;
}

.backtotop {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  right: 15px;
  bottom: 15px;
  color: #000000;
  transition: all 0.2s;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

body .backtotop i {
  color: #000000;
  font-size: 24px;
}